# The image needs pyproject.toml, README.md, LICENSE, roadmap_core/ and
# templates/ only (deploy/vm/Dockerfile). Everything else stays out of the
# build context, so no stray local file reaches the image.
*
!pyproject.toml
!README.md
!LICENSE
!roadmap_core/
!templates/
roadmap_core/__pycache__/
